th {
    border: 2px solid;
    text-align: center;
}

td button{
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
}
#createButton{
    font-size: 2em;
}

tr{
    text-align: center;
    border: 1px solid;
}

button:hover {
    background-color: rgb(255, 208, 0);
}

h3{
    font-size: 1.2em;
    padding: 0 1em ;
    
}
