.containerForm{
    color: #060662;
    background-color: #c3d2ec
}
.form{
    border: 1px solid #F26B16;
    background-color: white;
}
.course{
    color: #F26B16;
}
.btnForm{
    background-color: #1E40A5;
    box-shadow: 1px 2px 3px #F26B16;
}
.select{
    border: 1px solid rgb(222, 219, 219);
    border-radius: 5px;
}
