<section class="flex justify-content-center flex-column align-items-center">

    <p-toast position="top-right" styleClass="opacity-100"></p-toast>

    <h1 class="mb-4">Crear Curso</h1>

    <form (ngSubmit)="createCourse()" #studentForm="ngForm" class="flex flex-column justify-content-center gap-4">

        <div>
            <label for="title" class="font-bold">Titulo</label>
            <input pInputText type="text" id="title" name="title" [(ngModel)]="newCourse.title">
        </div>

        <div>
            <label for="subtitle" class="font-bold">Subtitulo</label>
            <input pInputText type="text" id="subtitle" name="subtitle" [(ngModel)]="newCourse.subtitle">
        </div>

        <div>
            <label for="description" class="font-bold">Descripcion</label>
            <textarea id="description" name="description" cols="30" rows="10" type="text" [(ngModel)]="newCourse.description"></textarea>
        </div>

        <div>
            <label for="duration" class="font-bold">Duracion</label>
            <p-inputNumber id="duration" name="duration" [(ngModel)]="newCourse.duration" mode="decimal"
                inputId="withoutgrouping" [useGrouping]="false"></p-inputNumber>
        </div>

        <div>
            <label for="start_date" class="font-bold">Fecha de inicio</label>
            <input pInputText type="text" id="start_date" name="start_date" [(ngModel)]="newCourse.start_date">
        </div>

        <!-- <div>
            <label for="start_date" class="font-bold">start_date</label>
            <p-calendar type="text" id="start_date" name="start_date" [(ngModel)]="newCourse.start_date" dateFormat="dd-mm-yy"></p-calendar>
        </div> -->
        <div>
            <label for="capacity" class="font-bold">Capacidad</label>
            <input pInputText type="number" id="capacity" name="capacity" [(ngModel)]="newCourse.capacity">
        </div>
        <div>
            <label for="price" class="font-bold">Precio</label>
            <input pInputText type="number" id="price" name="price" [(ngModel)]="newCourse.price">
        </div>
        <div>
            <label for="due" class="font-bold">Cuota</label>
            <input pInputText type="number" id="due" name="due" [(ngModel)]="newCourse.due">
        </div>
        <div>
            <label for="has_surcharge" class="font-bold">0:No o 1:Si</label>
            <input pInputText type="number" id="has_surcharge" name="has_surcharge" [(ngModel)]="newCourse.has_surcharge">
        </div>
        <div>
            <label for="surcharge_percentage" class="font-bold">% Iva</label>
            <input pInputText type="number" id="surcharge_percentage" name="surcharge_percentage " [(ngModel)]="newCourse.surcharge_percentage">
        </div>
        <div>
            <label for="modality" class="font-bold">Modalidad</label>
            <input pInputText type="text" id="modality" name="modality" [(ngModel)]="newCourse.modality">
        </div>
        <div>
            <label for="schedules" class="font-bold">Horarios</label>
            <input pInputText type="text" id="schedules" name="schedules" [(ngModel)]="newCourse.schedules">
        </div>
        <div>
            <label for="banner" class="font-bold">Imagen Banner</label>
            <input pInputText type="text" id="banner" name="banner" [(ngModel)]="newCourse.banner">
        </div>
        

        
        <!-- Detalles del curso -->
        <div>
            <h2 class="font-bold">Detalles del Curso</h2>
            <div *ngFor="let detail of newCourse.courseDetails; let i = index">
                <label for="title{{i}}" class="font-bold">Título</label>
                <input type="text" pInputText [id]="'title' + i" [name]="'title' + i" [(ngModel)]="detail.title">
        
                <label for="paragraph1{{i}}" class="font-bold">Párrafo 1</label>
                <input type="text" pInputText [id]="'paragraph1' + i" [name]="'paragraph1' + i" [(ngModel)]="detail.paragraph1">

                <label for="paragraph2{{i}}" class="font-bold">Párrafo 2</label>
                <input type="text" pInputText [id]="'paragraph2' + i" [name]="'paragraph2' + i" [(ngModel)]="detail.paragraph2">

                <label for="image1Url{{i}}" class="font-bold">URL de la Imagen 1</label>
                <input type="text" pInputText [id]="'image1Url' + i" [name]="'image1Url' + i" [(ngModel)]="detail.image1url">
        
                <label for="image2url{{i}}" class="font-bold">URL de la Imagen 2</label>
                <input type="text" pInputText [id]="'image2url' + i" [name]="'image2url' + i" [(ngModel)]="detail.image2url">
            </div>
            <button type="button" (click)="addDetail()">Agregar Detalle</button>
        </div>
        
        <footer class="flex gap-4 mb-4">
        
            <p-button type="submit" label="Cancelar" routerLink="/crudCourses "></p-button>
            <p-button type="submit" label="Crear Curso"></p-button>
        
        </footer>

    </form>
</section>