<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Incubadora Noc</h4>
                <ul>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Politicas de privacidad</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Inscripciones</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Estado de inscipcion</a></li>
                    <li><a href="#">Formas de pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Accesos Rapidos</h4>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nuestros Cursos</a></li>
                    <li><a href="#">Contactanos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Seguinos!</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <div id="logoIncubadora"
                        class="border-circle border-yellow-500 w-6rem h-6rem m-2 surface-300 font-bold flex align-items-center justify-content-center">
                        <img class="w-12" src="../../../assets/img/logoIncubadora.png" alt="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>