<section class="containerForm flex flex-column align-items-center pt-8 pb-8" >

    <p-toast position="top-right" styleClass="opacity-100"></p-toast>

    <h1 class="mb-4">Formulario de Inscripcion...</h1>

    <form (ngSubmit)="createStudent()" #studentForm="ngForm" class="form px-8 py-5">
        <div class="pb-4 flex flex-column lg:flex-row lg:gap-5">
            <div>
                <label for="first_name" class="font-bold">Nombre</label>
                <input pInputText type="text" id="first_name" name="first_name" [(ngModel)]="newStudent.first_name">
            </div>
    
            <div>
                <label for="last_name" class="font-bold">Apellido</label>
                <input pInputText type="text" id="last_name" name="last_name" [(ngModel)]="newStudent.last_name">
            </div>
    
            <div>
                <label for="document_number" class="font-bold">DNI</label>
                <p-inputNumber id="document_number" name="document_number" [(ngModel)]="newStudent.document_number"
                    mode="decimal" inputId="withoutgrouping" [useGrouping]="false"></p-inputNumber>
            </div>
        </div>
        <div class="pb-4 flex flex-column lg:flex-row lg:gap-5">
            <div>
                <label for="birth_date" class="font-bold">Fecha de nacimiento</label>
                <p-calendar type="date" id="birth_date" name="birth_date" [(ngModel)]="newStudent.birth_date"></p-calendar>
            </div>
    
            <div>
    
                <label for="phone_number" class="font-bold">Telefono</label>
                <input type="text" pInputText id="phone_number" name="phone_number"
                    [(ngModel)]="newStudent.ContactInformation.phone_number">
    
            </div>
            <div>
    
                <label for="email" class="font-bold">Email</label>
                <input type="email" pInputText id="email" name="email" autocomplete="email"
                    [(ngModel)]="newStudent.ContactInformation.email">
    
            </div>
        </div>
        <div class="pb-4 flex flex-column lg:flex-row lg:gap-5">
            <div>
    
                <label for="country" class="font-bold">Pais</label>
                <input type="text" pInputText id="country" name="country"
                    [(ngModel)]="newStudent.ContactInformation.country">
    
            </div>
    
            <div>
    
                <label for="state" class="font-bold">Provincia</label>
                <input type="text" pInputText id="state" name="state" [(ngModel)]="newStudent.ContactInformation.state">
    
            </div>
    
            <div>
    
                <label for="address" class="font-bold">Direccion</label>
                <input type="text" pInputText id="address" name="address"
                    [(ngModel)]="newStudent.ContactInformation.address">
    
            </div>
    
        </div>    
    
        <footer class="flex gap-4 mb-4">
    
            <p-button type="submit" label="Cancelar" routerLink="/pay-transf-course"></p-button>
            <p-button type="submit" label="Aceptar"></p-button>
        </footer>
    </form>
</section>